.sidebar {
    width: 20em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: rgb(50, 50, 50);
    border-right: 2px black solid;
}
.sidebar img {
    width: 12em;
    margin: 10% 0;
}

.insideSidebar {
    position: fixed;
}